Django>=5.1.4
gunicorn>=22.0.0
whitenoise==6.5.0
dj-database-url==2.0.0
python-dotenv==1.0.0
psycopg2-binary==2.8.6
Pillow>=10.3.0
cloudinary==1.33.0
django-cloudinary-storage==0.3.0
pandas==2.0.3
matplotlib==3.1.3
